In [1]:
# pip install PyTube

In [2]:
# pip install python-pptx

In [3]:
# pip install youtube-transcript-api

In [4]:
import glob
from Python_Functions.userFunctions import pptToText
from Python_Functions.userFunctions import youtubeTranscriptApiData

In [5]:
pptList = [g for g in glob.glob('../../Data/text_univ_chichago/*.pptx')]
pptDf = [pptToText(p) for p in pptList]

In [6]:
pptDf[0].to_csv('scraping_data/pptFlamingo.csv')
pptDf[0].head()

,PPT Sub Text,PPT File
0,PEAFOWL,../../Data/text_univ_chichago/birds_intro_peaf...
1,Peacock is the National bird of India. It has ...,../../Data/text_univ_chichago/birds_intro_peaf...
2,Food: Peafowls are omnivorous. They love to ea...,../../Data/text_univ_chichago/birds_intro_peaf...
3,Eggs of Peahen,../../Data/text_univ_chichago/birds_intro_peaf...
4,Source: peacocksuk.com,../../Data/text_univ_chichago/birds_intro_peaf...

In [7]:
vidDataDfFlamingo = youtubeTranscriptApiData(searchText = 'flamingo kid education', category= 'Flamingo', i = 50)
vidDataDfFlamingo.to_csv('scraping_data/videoFlamingo.csv')
vidDataDfFlamingo.head()

Percentage of Videos w/Transcript: 20.895522388059703%

,text,start,duration,Video ID,Title,Age Restricted,Length (min),Views (thous),Category
0,You're watching FreeSchool!,2.628,2.796,_gs4XfbYPKc,All About Flamingos for Kids: Animal Videos fo...,False,4.316667,149.079,Flamingo
1,Let's learn about flamingos!,8.779,2.298,_gs4XfbYPKc,All About Flamingos for Kids: Animal Videos fo...,False,4.316667,149.079,Flamingo
2,"Flamingos are tall, pink wading birds that\nca...",13.168,7.510,_gs4XfbYPKc,All About Flamingos for Kids: Animal Videos fo...,False,4.316667,149.079,Flamingo
3,as well as the warm coastal regions of North\n...,21.125,6.176,_gs4XfbYPKc,All About Flamingos for Kids: Animal Videos fo...,False,4.316667,149.079,Flamingo
4,"Because they are water birds, flamingos live\n...",28.654,5.990,_gs4XfbYPKc,All About Flamingos for Kids: Animal Videos fo...,False,4.316667,149.079,Flamingo

In [8]:
pptDf[1].to_csv('scraping_data/pptPeafowl.csv')
pptDf[1].head()

,PPT Sub Text,PPT File
0,Flamingo,../../Data/text_univ_chichago/birds_intro_flam...
1,Flamingo is about 110 to 150 cm tall and weigh...,../../Data/text_univ_chichago/birds_intro_flam...
2,,../../Data/text_univ_chichago/birds_intro_flam...
3,"Hey, I am Flame…I think children like my pink ...",../../Data/text_univ_chichago/birds_intro_flam...
4,Food: Flamingos are omnivorous. They love to f...,../../Data/text_univ_chichago/birds_intro_flam...

In [9]:
vidDataDfPeafowl = youtubeTranscriptApiData(searchText = 'peafowl kid education', category= 'Peafowl', i = 50)
vidDataDfPeafowl.to_csv('scraping_data/videoPeafowl.csv')
vidDataDfPeafowl.head()

Percentage of Videos w/Transcript: 27.536231884057973%

,text,start,duration,Video ID,Title,Age Restricted,Length (min),Views (thous),Category
0,"Peacock is a bit of a misnomer, but because \n...",0.00,4.80,EkJvstgd7oc,Peacock Facts: FACTS about PEAFOWL 🦚 Animal Fa...,False,4.416667,49.933,Peafowl
1,"we’re going to stick with it, but if \nyou wan...",4.80,3.44,EkJvstgd7oc,Peacock Facts: FACTS about PEAFOWL 🦚 Animal Fa...,False,4.416667,49.933,Peafowl
2,‘peacock’ is specifically in reference to \nma...,8.24,5.44,EkJvstgd7oc,Peacock Facts: FACTS about PEAFOWL 🦚 Animal Fa...,False,4.416667,49.933,Peafowl
3,"babies are called ‘peachicks.’ As a whole, the...",13.68,5.92,EkJvstgd7oc,Peacock Facts: FACTS about PEAFOWL 🦚 Animal Fa...,False,4.416667,49.933,Peafowl
4,"The most common, and probably the most familia...",19.60,4.56,EkJvstgd7oc,Peacock Facts: FACTS about PEAFOWL 🦚 Animal Fa...,False,4.416667,49.933,Peafowl

In [10]:
pptDf[2].to_csv('scraping_data/pptTailorBird.csv')
pptDf[2].head()

,PPT Sub Text,PPT File
0,Ants are one of the most common insects that l...,../../Data/text_univ_chichago/insects_intro_an...
1,Queen ant: The queen ant is the leader of the ...,../../Data/text_univ_chichago/insects_intro_an...
2,Caste of ants: https://in.pinterest.com/pin/73...,../../Data/text_univ_chichago/insects_intro_an...
3,"In our garden, we see little black ants, carpe...",../../Data/text_univ_chichago/insects_intro_an...
4,Little black ants:\nThey live in large colonie...,../../Data/text_univ_chichago/insects_intro_an...

In [22]:
# modified
vidDataDfTailorBird = youtubeTranscriptApiData(searchText ='tailor bird for kid education',category= 'TailorBird', i = 50)
vidDataDfTailorBird.to_csv('scraping_data/videoTailorBird.csv')
vidDataDfTailorBird.head()

Percentage of Videos w/Transcript: 21.73913043478261%

,text,start,duration,Video ID,Title,Age Restricted,Length (min),Views (thous),Category
0,Introduction to Birds,4.82,2.97,kzRkWvwqkNI,Birds for Kids | Learn all about Birds in this...,False,8.783333,210.489,TailorBird
1,"There are nearly 10,000 different kinds of\nbi...",7.79,4.05,kzRkWvwqkNI,Birds for Kids | Learn all about Birds in this...,False,8.783333,210.489,TailorBird
2,"They come in all sizes, shapes and breeds.",11.84,4.86,kzRkWvwqkNI,Birds for Kids | Learn all about Birds in this...,False,8.783333,210.489,TailorBird
3,Some live on water and others on land.,16.70,3.62,kzRkWvwqkNI,Birds for Kids | Learn all about Birds in this...,False,8.783333,210.489,TailorBird
4,"Some live in very cold places, while others\nl...",20.32,5.23,kzRkWvwqkNI,Birds for Kids | Learn all about Birds in this...,False,8.783333,210.489,TailorBird

In [ ]:
# vidDataDf_TailorBird = youtubeTranscriptApiData(searchText =  'tailor bird kid education', category='Tailor Bird' , i = 30)
# vidDataDf_TailorBird.to_csv('scraping_data/videoTailorBird.csv')
# vidDataDf_TailorBird.head()

In [12]:
pptDf[3].to_csv('scraping_data/pptAnt.csv')
pptDf[3].head()

,PPT Sub Text,PPT File
0,Tailorbird\nTailorbird- The Tailorbird has tai...,../../Data/text_univ_chichago/birds_intro_tail...
1,"Hey, I am Tinky, a Tailorbird. Do you know tha...",../../Data/text_univ_chichago/birds_intro_tail...
2,Tailorbird: https://www.nhm.ac.uk/discover/the...,../../Data/text_univ_chichago/birds_intro_tail...
3,Tailorbird has a rare kind of beak. It uses it...,../../Data/text_univ_chichago/birds_intro_tail...
4,Tailorbird beak: https://en.wikipedia.org/wiki...,../../Data/text_univ_chichago/birds_intro_tail...

In [13]:
vidDataDfAnt = youtubeTranscriptApiData(searchText ='ant kid education',category= 'Ant', i = 50)
vidDataDfAnt.to_csv('scraping_data/videoAnt.csv')
vidDataDfAnt.head()

Percentage of Videos w/Transcript: 27.536231884057973%

,text,start,duration,Video ID,Title,Age Restricted,Length (min),Views (thous),Category
0,welcome to my tree house come and look,0.560,3.520,cXUCUvcscXs,Children Learn About The Ant,False,5.333333,921.491,Ant
1,at this,2.560,3.520,cXUCUvcscXs,Children Learn About The Ant,False,5.333333,921.491,Ant
2,this is my ant farm,4.080,4.559,cXUCUvcscXs,Children Learn About The Ant,False,5.333333,921.491,Ant
3,ants are amazing creatures lots of,6.080,4.479,cXUCUvcscXs,Children Learn About The Ant,False,5.333333,921.491,Ant
4,insects live by themselves and have to,8.639,4.241,cXUCUvcscXs,Children Learn About The Ant,False,5.333333,921.491,Ant

In [14]:
pptDf[4].to_csv('scraping_data/pptBeetle.csv')
pptDf[4].head()

,PPT Sub Text,PPT File
0,We see many insects around us. Some have wings...,../../Data/text_univ_chichago/insects_intro_be...
1,Beetle: https://unsplash.com/photos/emTCWiq2txk,../../Data/text_univ_chichago/insects_intro_be...
2,Lady Bug:\nLadybugs are tiny beetles. They are...,../../Data/text_univ_chichago/insects_intro_be...
3,Lady Bug: https://in.pinterest.com/pin/1266706...,../../Data/text_univ_chichago/insects_intro_be...
4,Appearance:\nThey have an elliptical body.\nTh...,../../Data/text_univ_chichago/insects_intro_be...

In [15]:
vidDataDfBeetle = youtubeTranscriptApiData(searchText = 'beetle kid education',  category= 'Beetle', i = 50)
vidDataDfBeetle.to_csv('scraping_data/videoBeetle.csv')
vidDataDfBeetle.head()

Percentage of Videos w/Transcript: 26.470588235294116%

,text,start,duration,Video ID,Title,Age Restricted,Length (min),Views (thous),Category
0,Bugs,7.370,1.000,ZZcYUQhk4R0,Insects for Kids | Have fun learning all about...,False,9.8,216.069,Beetle
1,It is estimated that there are about 10 quinti...,8.370,6.540,ZZcYUQhk4R0,Insects for Kids | Have fun learning all about...,False,9.8,216.069,Beetle
2,That’s a 10 with 18 zeros behind it!,14.910,4.770,ZZcYUQhk4R0,Insects for Kids | Have fun learning all about...,False,9.8,216.069,Beetle
3,If you took all those bugs and divided them\nb...,19.680,6.259,ZZcYUQhk4R0,Insects for Kids | Have fun learning all about...,False,9.8,216.069,Beetle
4,"would have over 2,000 bugs each!",25.939,3.901,ZZcYUQhk4R0,Insects for Kids | Have fun learning all about...,False,9.8,216.069,Beetle